*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maincontainer{
    height: 100svh;
    background-color: rgba(200, 138, 224, 0.842);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}
 .profileContainer{
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#img{
    border-radius: 50%;
}
#photo{
   display: flex;
   flex-direction: column;
    width:40% ;
    height: 100%;
    background-color: cadetblue;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
#info{
    width: 60%;
    height: 100%;
    display: grid;
    align-items: center;
    background-color: rgba(164, 207, 207, 0.884);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}
#submit{
    width: 15rem;
    aspect-ratio: 3/1;
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
    background-color: rgba(14, 48, 58, 0.795);
    color: white;
}